body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin: 0;
}

#header {
  background-color: rosybrown;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: gold;
  padding: 10px 0;
}

#header h1 {
  font-size: 38px;
  margin: 0;
}

#container {
  width: 90%;
  max-width: 600px;
}

#input-container {
  display: flex;
  margin-bottom: 20px;
}

#todo-input {
  flex-grow: 1; /* Allows input to take up available space */
  color: brown;
  background-color: blanchedalmond;
  border: 1px solid #e0bfbf;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

#add-button {
  background-color: pink;
  cursor: pointer;
  color: antiquewhite;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px 15px;
  margin-left: 10px;
  transition: background-color 0.2s;
}

#add-button:hover {
  background-color: #f78fb3; /* A slightly darker pink */
}

#list-container ol {
  list-style-type: decimal; /* Ensures numbers are shown */
  padding-left: 20px; /* Provides space for list numbers */
}

#list-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(195, 193, 193);
  color: #333;
  margin-bottom: 8px;
  border-radius: 10px;
  padding: 10px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#list-container li button {
  background-color: pink;
  cursor: pointer;
  color: antiquewhite;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  padding: 5px 10px;
}

#time-word {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#time-word h4 {
  font-size: 32px;
  color: #1abc9c; /* A nice teal/aquamarine color */
  margin: 0;
}

#clock {
  margin-top: 15px;
  padding: 20px 40px;
  background-color: #ffffff;
  color: #2c3e50;
  font-size: 2.5rem;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
