body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    overflow-x: hidden;
}
.title{
    text-align: center;
    color:cornflowerblue
}

#description{
    padding-left: 20px;
    width:400px;
    padding-left:100px;
}
#readMore{
    border: none;
    background-color: white;
    color:darkblue;
    font-weight: 900;
    cursor: pointer;
    
}
.sub-banner{
    display: flex;
    padding-left:20px;
    padding-bottom: 20px;
    padding-top:20px;
}
.product-form{
        display: flex;
        padding-left:20px;
    padding-bottom: 20px;
    padding-top:20px;
    align-items: center;
    justify-content: center;

}
#personalInfoForm{
    margin-right: 160px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #55d6d2);
    width:40vw;
    display: grid;
    align-items: center;
    justify-content: center;

}

input{
    outline:#55d6d2 ;
     border: 0px solid #55d6d2 ; 
     border-radius:10% 20%;
     background-image: linear-gradient(to right, rgba(255,0,0,0), #55d6d2);
    border-bottom: 1px solid black;
}
input:focus{
    outline: none;
}
#submit{
    border: 2px solid black;
    border-radius: 30px 50px;
    background-color: white;
    color:darkblue;
    font-weight: 900;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
#addToCart{
    border: 2px solid black;
    border-radius: 30px 50px;
    background-color: white;
    color:darkblue;
    font-weight: 900;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
#productComponent{
    margin-right: -48px;
    width:35vw;
    background-image: linear-gradient(to right, rgba(255,0,0,0),#55d6d2);
    display: grid;
    align-items: center;
    justify-content: center;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

a{
    text-decoration: none;
    color:cornflowerblue;
    cursor: pointer;
    padding: 20px;
}
span{
    transform: translate(65px, -24px);
    font-size: 15px;
}

.product-container{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.product{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.product:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.product-image{
    padding:10px;

}
.product-title,.product-price{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.product-button{
    border: 2px solid black;
    border-radius: 30px 50px;
    background-color: white;
    color:darkblue;
    font-weight: 900;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;

}
.hide{
    display:none;
}

.purchase{
    border: 2px solid black;
    border-radius: 30px 50px;
    background-color: white;
    color:darkblue;
    font-weight: 900;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
}