body{
    background-color:aquamarine;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#input-container{
    display: flex;
    justify-content: center;
}

#list{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}